<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
<!-- 회원 가입 -->
	<insert id="register">
		INSERT INTO mp_member ( userid
													, userpass
													, username )
		VALUES ( #{userId}
						, #{userPass}
						, #{userName} )
	</insert>
	
<!-- 로그인 -->
	<select id="login" resultType="com.web.vo.MemberVO">
		SELECT userid, userpass
		FROM mp_member
		WHERE userid = #{userId}
		AND userpass = #{userPass}
	</select>
</mapper>